doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='')
//if IE 8
	html.no-js.lt-ie9(lang='')
// [if gt IE 8] <!
html.no-js(lang='en')
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Dashboard | Isabel
		meta(name='description', content='Create your website using Engage multipurposes html template: corporate, ecommerce, blog, creative and much more. Only $17 for unlimited possibilities.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='../assets/img/various/apple-touch-icon.png')
		link(rel='shortcut icon', href='../assets/img/favicon.ico', type='image/x-icon')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400,700,800', rel='stylesheet')
		link(rel='stylesheet', href='../assets/js/libs/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='../assets/js/libs/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='../assets/css/icons/nucleo.css')
		link(rel='stylesheet', href='../assets/js/libs/animate.css/animate.min.css')
		// BEGIN PAGE STYLE
		link(rel='stylesheet', href='../assets/js/libs/select2/dist/css/select2.min.css')
		link(rel='stylesheet', href='../assets/js/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
		link(rel='stylesheet', href='../assets/js/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')
		link(rel='stylesheet', href='../assets/js/plugins/revolution-slider/revolution/css/settings.css')
		link(rel='stylesheet', href='../assets/js/plugins/revolution-slider/revolution/css/navigation.css')
		link(rel='stylesheet', href='../assets/css/sliders.css')
		link(rel='stylesheet', href='../assets/css/pages.css')
		link(rel="stylesheet" href="../assets/js/plugins/slick-modal/sm-minified.css")
		link(rel='stylesheet', href='../assets/css/form.css')
		// END PAGE STYLE
		link(rel='stylesheet', href='../assets/css/buttons.css')
		link(rel='stylesheet', href='../assets/css/builder.css')
		link(rel='stylesheet', href='../assets/css/colors.css')
		link(rel='stylesheet', href='../assets/css/footers.css')
		link(rel='stylesheet', href='../assets/css/main.css')
		link(rel='stylesheet', href='../assets/css/nav.css')
		link(rel='stylesheet', href='../assets/css/preloader.css')
		link(rel='stylesheet', href='../assets/css/themes.css')
		link(rel='stylesheet', href='../assets/css/ui.css')
		link(rel='stylesheet', href='../assets/css/widgets.css')
		style.
			.map {
				height: 413%;
			}
			#paymentButton{
			display: inline-block;
			text-transform: uppercase;
			background: none !important;
			color:#557f90;
			letter-spacing: 1em;
			font-weight: bold;
			border-radius: 0px !important;
			margin-bottom: 10px;
			transition:color 0.25s ease;
			border: 2px solid #557f90;
			padding: 10 !important;
			bottom: 0;
			}

			#paymentButton:hover {
			color: white;
			}
		

			#paymentButton::after {
			position: absolute;
			content: '';
			top:0;
			left: 0;
			width: 0;
			height: 100%;
			background-color: #557f90 !important;
			transform-origin:left;
			transition:width 0.25s ease;
			z-index:-1;
			}

			#paymentButton:hover::after{
			width: 100%;
			}
		script(src='../assets/js/modernizr-2.8.3-respond-1.4.2.min.js')
		script(src='//code.jquery.com/jquery-2.1.3.min.js')
		script(src='../assets/js/jquery.twbsPagination.js')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		script.
			function puta(){
				var pages = $('.showPage').val()
					alert(pages);
					var ticket = {}
					var ticketLength =  null;
					var filter = $('#filter').val();
					$.post('/index/violation', {isPaid: filter})
					.done(function(data){
						ticket = data.violations;
						ticketLength = ticket.length;
					alert(pages);
					$('#pagination-demo').twbsPagination('destroy');
					$('#pagination-demo').twbsPagination($.extend({}, {
						totalPages: Math.ceil(ticketLength/pages),
						visiblePages: 5,
						onPageClick: function (event, page) {
							alert('e1')
							$.post('/index/vio', {intPage: pages, intStart: ((page-1)*pages), isPaid: filter, sortie: $('#sort').val()})
							.done(function(data){
								alert('entered2')
								var vio = data.vio;
								$("#ticketStatus").empty()
								alert(pages);
								for(var i = 0; i < vio.length; i++){
									alert(JSON.stringify(vio[i]));
									$("#ticketStatus").append(`<div class="row"><div class="col-md-3"></div><div class="col-lg-6"><div onclick='trigs(`+vio[i].intUserViolationTicketID+`)' class="form-group form-grouped focused"><label>Ticket Number: `+vio[i].intUserViolationTicketID+`</label><small>`+vio[i].strTicketDate+`</small><input disabled="" style="cursor: pointer;" type="text" value="Full Name: `+vio[i].strLicenseFirstName+` `+vio[i].strLicenseLastName+`" class="form-control"/><input disabled="" style="cursor: pointer;" type="text" value="License Number: `+vio[i].strLicenseLicenseNo+`" class="form-control"/></div></div><div class="col-md-3"></div></div>`);
								}
								
							})
						}
					}));
						
						
							
					})
			}

			function puta2(){
					var pages = $('.showLicensePage').val()
				
					alert(pages);
					var license = {}
					var licenseLength =  null;
					var filter = $('#filterLicense').val();
					$.post('/admin/license1', {status: filter})
					.done(function(data){
						console.log(JSON.stringify(data.license))
						license = data.license;
						licenseLength = license.length;
					alert(pages);
					$('#pagination-demo2').twbsPagination('destroy'); 
					$('#pagination-demo2').twbsPagination($.extend({}, {
						totalPages: Math.ceil(licenseLength/pages),
						visiblePages: 5,
						onPageClick: function (event, page) {
							alert('e1')
							$.post('/admin/license2', {intPage: pages, intStart: ((page-1)*pages), status: filter, sortie: $('#sortLicense').val()})
							.done(function(data){
								var lisensya = data.lisensya;
								$("#licenseStatus").empty();
								for(var i = 0; i < lisensya.length; i++){
									alert(JSON.stringify(lisensya[i]));
									$("#licenseStatus").append(`<div class="row"><div class="col-md-3"></div><div class="col-lg-6"><div class="form-group form-grouped focused"><label>License Number: `+lisensya[i].strTicketLicenseNo+`</label><small>Status: On Hold</small><input disabled="" style="cursor: pointer;" type="text" value="Full Name: `+lisensya[i].strLicenseFirstName+` `+lisensya[i].strLicenseLastName+`" class="form-control"/></div></div><div class="col-md-3"></div></div>`);
								}
								
							})
						}
					}));
						
						
							
					})
			}

			$(window).ready(function(){
				puta();
				
				$("#tab2").click(function(){
					puta2();
				})
				
				
				$('.showPage').change(function(){
					puta();
				})
				$('#sort').change(function(){
					puta();
				})
				$('#filter').change(function(){
					puta();
				})
				$('#search').click(function(){
					
					var attrib = $('#searchAttrib').val();
					var input = $('#searchInput').val()
					alert(attrib);
					alert(input);
					$.post('/admin/search', {attrib: attrib, input: input})
					.done(function(data){
						$('#triggerButtonSearch').trigger('click');
						alert('entered2')
						var vio = data.search;
						$("#resultSearch").empty();
						for(var i = 0; i < vio.length; i++){
							alert(JSON.stringify(vio[i]));
							$("#resultSearch").append(`<div class="row"><div class="col-md-3"></div><div class="col-lg-6"><div onclick='trigs(`+vio[i].intUserViolationTicketID+`)' class="form-group form-grouped focused"><label>Ticket Number: `+vio[i].intUserViolationTicketID+`</label><small>`+vio[i].strTicketDate+`</small><input disabled="" style="cursor: pointer;" type="text" value="Full Name: `+vio[i].strLicenseFirstName+` `+vio[i].strLicenseLastName+`" class="form-control"/><input disabled="" style="cursor: pointer;" type="text" value="License Number: `+vio[i].strLicenseLicenseNo+`" class="form-control"/></div></div><div class="col-md-3"></div></div>`);
						}

					})
				})

				
				$('.showLicensePage').change(function(){
					puta2();
				})
				$('#sortLicense').change(function(){
					puta2();
				})
				$('#filterLicense').change(function(){
					puta2();
				})
				$('#searchLicense').click(function(){
					
					var attrib = $('#searchLicenseAttrib').val();
					var input = $('#searchInput').val()
					alert(attrib);
					alert(input);
					$.post('/admin/search', {attrib: attrib, input: input})
					.done(function(data){
						$('#triggerButtonSearch').trigger('click');
						alert('entered2')
						var vio = data.search;
						$("#resultSearch").empty();
						for(var i = 0; i < vio.length; i++){
							alert(JSON.stringify(vio[i]));
							$("#resultSearch").append(`<div class="row"><div class="col-md-3"></div><div class="col-lg-6"><div onclick='trigs(`+vio[i].intUserViolationTicketID+`)' class="form-group form-grouped focused"><label>Ticket Number: `+vio[i].intUserViolationTicketID+`</label><small>`+vio[i].strTicketDate+`</small><input disabled="" style="cursor: pointer;" type="text" value="Full Name: `+vio[i].strLicenseFirstName+` `+vio[i].strLicenseLastName+`" class="form-control"/><input disabled="" style="cursor: pointer;" type="text" value="License Number: `+vio[i].strLicenseLicenseNo+`" class="form-control"/></div></div><div class="col-md-3"></div></div>`);
						}

					})
				})


			})


		style.
			#profileIcon{
				min-width: 124px;
				border-radius: 100%;
				border: 7px solid #577;
				width: 15%;
				transition: all 0.5s ease;
			}
			#profileIcon:hover{
				border: 10px solid skyblue;
				transition: all 0.5s ease;
				filter: brightness(50%);
			}
			#smallIcon{
				width: 49px;
				border-radius: 100%;
				border: 1px solid #577;
			}
			#map {
				height: 100%;
			}
	body.header-light.creative-design.footer-reveal(data-page-type='ecommerce')
		//if lt IE 8
			p.browserupgrade
				| You are using an 
				strong outdated
				|  browser. Please 
				a(href='http://browsehappy.com/') upgrade your browser
				|  to improve your experience.
		// BEGIN PRELOADER
		.loader-wrapper
			.loader-circle
		// END PRELOADER
		#wrapper
			// BEGIN LATERAL NAVIGATION
			aside#aside-nav
				#main-aside-navigation
					.main-nav-wrapper
						.close-aside-nav
							i.nc-icon-outline.ui-1_simple-remove
						#aside-logo
							a(href='#', data-logo-light='../assets/img/logo/logo-short-light.png', data-logo-dark='../assets/img/logo/logo-aside-dark.png')
								img(width='170', height='166', src='../assets/img/logo/logo-short-dark.png', alt='logo')
						nav#main-aside-menu
							ul
								li
									a(href='#') Dashboard
								li.submenu
									a(href='#') #{user.strLicenseFirstName} #{user.strLicenseLastName}
									ul
										li
											a(href='/index') My Account
										li
											a(href='/index/settings') Settings
										li
											a(href='/logout') Log out
						footer
							a.tools-btn(href='#', data-toggle-search='fullscreen')
								span.tools-btn-icon
									i.nc-icon-outline.ui-1_zoom
							a.tools-btn(href='shop-wishlist')
								span.tools-btn-icon
									i.nc-icon-outline.ui-2_favourite-28
								span.wishlist_items_number 0
							a.tools-btn(href='shopping-cart')
								span.tools-btn-icon
									i.nc-icon-glyph.shopping_bag-16
								span.cart_items_number 0
			// END LATERAL NAVIGATION
			// BEGIN MAIN NAVIGATION
			header#header
				#main-navigation.submenu-dark
					.main-nav-wrapper
						.container-fluid
							.nav-left
								#logo
									a(href='overview', data-logo-light='../assets/img/logo/logo-short-light.png', data-logo-dark='../assets/img/logo/logo-short-dark.png')
										img(width='145', height='36', src='../assets/img/logo/logo-light.png', alt='logo')
							.nav-right
								nav#main-menu
									ul
										li
											a(href='/index/dashboard') Dashboard
											
										li
											a(href='#') 
												img#smallIcon(src=`../uploads/${user.strImage}`)
												|   #{user.strLicenseFirstName} #{user.strLicenseLastName}
											ul
												li
													a(href='/index') My Account
												li
													a(href='/index/settings') Settings
												li
													a(href='/logout') Log out
								ul.nav-tools
									li.mobile-menu-btn
										button.toggle-menu(data-toggle='mobile-menu', data-effect='hover')
											span.menu-label.label-left Menu
											i.nc-icon-outline.ui-2_menu-35
		
			// BEGIN MAIN CONTENT
			form#iconForm(method='POST' action='/index' enctype="multipart/form-data")
				input#strImage(type='file' name='strImage' accept='image/*' hidden='')
			#main-content.account

				section.section
					.container
						.tab-bordered
							ul.nav.nav-tabs(role='tablist')
								li#tab1.nav-item(role='presentation')
									a.active(href='#unpaidTransaction', aria-controls='unpaidTransaction', role='tab', data-toggle='tab')
										| Ticket Status
							
							
										


							.tab-content
								#unpaidTransaction.tab-pane.fade.in.active.p-t-20(role='tabpanel')
									.row
										.col-xl-6
											.form-group.form-grouped.form-grouped-select-2(style='width: 288px; margin: 10px')
												label Sort by:
												select#sort.form-control.full-width.select2-hidden-accessible(data-search='true', data-style='full-width', tabindex='-1', aria-hidden='true')
													option(value='strTicketDate') Date
													option(value='strAuthorityFirstName') Enforcer
													option(value='strTicketAddress') Location
													option(value='strLicenseLicenseNo') License Number
													option(value='intTicketID' selected) Ticket Number
										.col-xl-6
											a#searchfullscreen.btn.btn-primary.btn-bordered.btn-lg.icon-left-effect.m-t-30(hidden href='#', data-toggle-search='fullscreen')
												i.nc-icon-outline.ui-1_zoom
												span Show Fullscreen
											.form-group.form-grouped.form-grouped-select-2(style='width: 288px; margin: 10px')
												label Search by:
												select#searchAttrib.form-control.full-width.select2-hidden-accessible(onchange="search();" data-search='true', data-style='full-width', tabindex='-1', aria-hidden='true')
													option(value='strTicketDate') Date
													option(value='strLicenseLicenseNo') License Number
													option(value='strLicenseFirstName') Motorist
													option(value='strAuthorityFirstName') Enforcer
													option(value='strTicketAddress') Location
													option(value='intTicketID' selected) Ticket Number
									.row
										.col-xl-2
											.form-group.form-grouped.form-grouped-select-2(style='width: 288px; margin: 10px')
												label Show:
												select.showPage.form-control.full-width.select2-hidden-accessible(data-search='true', data-style='full-width', tabindex='-1', aria-hidden='true')
													-for(var i = 1; i <= 20; i++)
														-if(i == 10)
															option(value=i selected) #{i}
														-else
															option(value=i) #{i}
										.col-xl-2
											.form-group.form-grouped.form-grouped-select-2(style='width: 288px; margin: 10px')
												label Filter by:
												select#filter.form-control.full-width.select2-hidden-accessible(data-search='true', data-style='full-width', tabindex='-1', aria-hidden='true')
													option(value=2) Show All
													option(value=0) Unpaid
													option(value=3) Pending
													option(value=1) Paid
									center#ticketStatus
									center
										ul#pagination-demo.pagination-sm
								
								

							
							
							
			
			// END MAIN CONTENT
			// BEGIN FOOTER
			footer#footer
				#footer-main.container-large
					.row
						.col-lg-12.col-md-12
							.widget.widget-text
								h3.widget-title Who are we?
								img.footer-logo(width='200', height='50', src='../assets/img/logo/logo-aside-light.png', alt='logo')
								p Isabel, a web and mobile application that simplifies traffic violation process.
								p
									i.nc-icon-outline.ui-1_home-minimal
									|  Polytechnic University of the Philippines
								p
									i.nc-icon-outline.ui-1_email-85
									a(href='mailto:contact@isabel.com') contact@isabel.com
								p
									i.nc-icon-outline.tech_mobile
									a(href='tel:+1-888-541-7871', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Call us Now')  87000

				#footer-bottom
					.container-large
						.row
							.col-sm-12.t-center
								p.copyright © Isabel 2017. All Rights Reserved.
			// END FOOTER
		// BEGIN BUILDER
		#builder.builder.hidden-sm-down
			a.builder-toggle
				i.nc-icon-outline.ui-1_settings-gear-65
			.inner
				.builder-container
					.builder-section.builder-buy
						a.btn.btn-primary.btn-block.t-important(href='#') Buy Engage
						a#reset-style(href='#') reset style
					.builder-section.builder-layout
						h4 Layout
						.btn.btn-dark.btn-bordered.t-important(data-layout='boxed') BOXED
						.btn.btn-dark.t-important(data-layout='wide') WIDE
						.builder-boxed-bg
							h4 Boxed Background
							.row
								.col-xs-12.custom-bg-background
									.boxed-bg(data-bg-img='bg/pattern/3.png')
									.boxed-bg(data-bg-img='bg/pattern/2.png')
									.boxed-bg(data-bg-img='creative/full-18.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='creative/full-4.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='nature/full-20.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='nature/full-42.jpg', data-pattern='false')
					.builder-section.builder-menu-layout
						h4 Menu Style
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='lateral') Lateral
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='overlay') Overlay
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='offcanvas') Offcanvas
							a.btn.btn-dark.t-important(href='#', data-menu='right-align') Right align
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='left-align') Left align
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='logo-center') Logo center
					.builder-section.builder-menu-style
						h4 Menu Color
						div
							a.btn.btn-dark.t-important(href='#', data-menu-style='transparent') Transparent
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='image') Image
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='dark') Dark
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='light') Light
					.builder-section.builder-footer
						h4 Footer
						.btn.btn-dark.t-important(data-footer='normal') Normal
						.btn.btn-dark.btn-bordered.t-important(data-footer='reveal') Reveal
					.builder-section.builder-themes
						h4 Theme Colors
						.row
							.col-xs-12
								.theme-color.blue.lighten-2(data-theme='blue')
								.theme-color.indigo.lighten-2(data-theme='indigo')
								.theme-color.deep-purple.lighten-2(data-theme='purple')
								.theme-color.teal.lighten-2(data-theme='teal')
								.theme-color.amber(data-theme='amber')
								.theme-color.deep-orange.lighten-1.active(data-theme='default')
								.theme-color.red.lighten-1(data-theme='red')
								.theme-color.grey.darken-4(data-theme='dark')
					.builder-section.builder-dark-theme
						.btn.btn-dark.btn-block.t-important(data-skin='dark') Dark Theme
		.search-overlay.overlay-dark(style='z-index: 999 !important')
			a.search-overlay-close(href='#')
				i.nc-icon-outline.ui-1_simple-remove
			form
				input#searchInput(type='search', placeholder='Search...')
				button#search
					i.nc-icon-outline.ui-1_zoom-split
		.slickModal(style="top:0% !important" data-plugin-options='{"windowWidth":"1000px", "windowLocation":"center","windowTransitionEffect":"slideTop","closeButton":"icon","reopenClass":"open-modal-search"}')
			.window
				.wrapper.white-modal
					.p-30(style="overflow: auto; max-height: 100vh; height: 503px")
						h3.m-t-0.t-center Results
						.row
							#resultSearch.col-xl-12
								
		//MODAL FOR EVERY FUCKING THING
		.slickModal(style="top:0% !important" data-plugin-options='{"windowWidth":"1000px","windowLocation":"center","windowTransitionEffect":"slideTop","closeButton":"icon","reopenClass":"open-modal-ticket"}')
			.window
				.wrapper.white-modal
					.p-30
						h3.m-t-0.t-center Ticket Details
						.row
							.col-xl-4
								.form-group.form-grouped
									label Ticket Number
									small#smaller(style='color: red') Status: Unpaid
									input#intTicketID.form-control(disabled style='cursor: pointer;' type='text' value=304)
								.form-group.form-grouped
									label License Number
									input#strLicenseNo.form-control(disabled style='cursor: pointer;' type='text' value='L20-00-000000')
								.form-group.form-grouped
									label Violator Name
									input#strLicenseName.form-control(disabled style='cursor: pointer;' type='text' value='Froilan Sam Malibiran')
								.form-group.form-grouped
									label Plate Number
									input#strPlateNumber.form-control(disabled style='cursor: pointer;' type='text' value='SAL123')
								.form-group.form-grouped
									label Enforcer's Name
									input#strEnforcerName.form-control(disabled style='cursor: pointer;' type='text' value='Froilan Bakekang')
								.form-group.form-grouped
									label Date
									input#datDate.form-control(disabled style='cursor: pointer;' type='text' value='January 1st 2018')
						
							.col-xl-4(style='padding: 5px')
								.form-group.form-grouped
									label Location
									input#address.form-control(disabled style='cursor: pointer;' type='text')
								#map-dark.map(data-map-width='100%', data-map-height='100%', data-markers='none', data-map-style='black-white', data-plugin-options='{"zoom":3,"panControl":false,"mapTypeControl":false,"zoomControl":false}')
							.col-xl-4
								.table-responsive
									table.table.table-striped
										thead
											tr
												th.title-h.bg-primary Section
												th Violation Description
												th Penalty
										tbody#tbody
							
								#fuck.form-group.form-grouped
									label Receipt Number
									input#intReceiptNumber.form-control( style='cursor: pointer;' type='text' value="")
								center
									button#paymentButton.btn.btn-primary.btn-block
										strong(style="font-weight: bold") Submit
								center
									button#generate.btn.btn-primary.btn-block
										strong(style="font-weight: bold") Generate Receipt
										
											
											
											

							
		
		// END BUILDER
		a.scrollup(href='#')
			i.nc-icon-outline.arrows-1_minimal-up
		script(src='../assets/js/libs/jquery-ui/jquery-ui.min.js')
		script(src='../assets/js/libs/gsap/src/minified/TweenMax.min.js')
		script(src='../assets/js/libs/gsap/src/minified/plugins/ScrollToPlugin.min.js')
		script(src='../assets/js/libs/tether/dist/js/tether.min.js')
		script(src='../assets/js/libs/bootstrap/dist/js/bootstrap.min.js')
		script(src='../assets/js/libs/superfish/dist/js/superfish.min.js')
		script(src='../assets/js/libs/appear/jquery.appear.js')
		script(src='../assets/js/libs/skrollr/dist/skrollr.min.js')
		script(src='../assets/js/libs/easyticker-jquery/jquery.easy-ticker.min.js')
		script(src='../assets/js/navigation.js')
		script(src='../assets/js/search.js')
		script(src='../assets/js/builder.js')
		script(src='../assets/js/widgets.js')
		script(src='../assets/js/main.js')

		script(src='../assets/js/bootpag.js')

		script(src='../assets/js/libs/jquery-ui/jquery-ui.min.js')
		script(src='../assets/js/libs/gsap/src/minified/TweenMax.min.js')
		script(src='../assets/js/libs/gsap/src/minified/plugins/ScrollToPlugin.min.js')
		script(src='../assets/js/libs/tether/dist/js/tether.min.js')
		script(src='../assets/js/libs/bootstrap/dist/js/bootstrap.min.js')
		script(src='../assets/js/libs/superfish/dist/js/superfish.min.js')
		script(src='../assets/js/libs/appear/jquery.appear.js')
		script(src='../assets/js/libs/skrollr/dist/skrollr.min.js')
		script(src='../assets/js/libs/easyticker-jquery/jquery.easy-ticker.min.js')
		// BEGIN PAGE SCRIPT
		script(src='../assets/js/plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js?rev=5.0')
		script(src='../assets/js/plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0')
		script(src='../assets/js/libs/select2/dist/js/select2.full.min.js')
		script(src='../assets/js/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.js')
		
		
		script(src="../assets/js/libs/fullpage.js/dist/jquery.fullpage.min.js")
		script(src="../assets/js/libs/jquery.fitvids/jquery.fitvids.js")
		script(src="../assets/js/plugins/slick-modal/jquery.slick-modals.min.js")
		script(src='../assets/js/libs/owl.carousel/dist/owl.carousel.min.js')
		script(src='../assets/js/libs/bootstrap-validator/dist/validator.min.js')
		script(src='../assets/js/libs/flexslider/jquery.flexslider-min.js')
		script(src='../assets/js/libs/multiscroll.js/jquery.multiscroll.min.js')
		script(src='http://maps.google.com/maps/api/js')
		script(src='../assets/js/libs/gmaps/gmaps.min.js')
		script(src='../assets/js/map.js')
		script(src='../assets/js/widgets.js')
		script(src="../assets/js/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
		script(src='../assets/js/sliders.js')
		script(src='../assets/js/widgets.js')
		// END PAGE SCRIPT
		script(src='../assets/js/navigation.js')
		script(src='../assets/js/search.js')
		script(src='../assets/js/builder.js')
		script(src='../assets/js/main.js')

		script.
			function search() {
				$(window).ready(function(){
					$('#searchfullscreen').trigger('click')
				})
			}
		script.
			function initMap() {
				var map = new google.maps.Map(document.getElementById('map-dark'), {
				zoom: 15,
				center: {lat: -34.397, lng: 150.644}
				});
				var geocoder = new google.maps.Geocoder();
				geocodeAddress(geocoder, map);
				
			}
			function geocodeAddress(geocoder, resultsMap) {
				var address = document.getElementById('address').value;
				geocoder.geocode({'address': address}, function(results, status) {
				if (status === 'OK') {
				resultsMap.setCenter(results[0].geometry.location);
				var marker = new google.maps.Marker({
				map: resultsMap,
				position: results[0].geometry.location
				});
				} else {
				console.log('Geocode was not successful for the following reason: ' + status);
				}
				});
			}
		script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBnLyu9KRX0dTheISKLkC2IUUBKeWD7TdU&callback=initMap')
		script.
			$(document).ready(function(){
				$("#paymentButton").click(function(){
					var x = $("#intReceiptNumber").val()
					var y = $("#intTicketID").val()
					$.post('/index/payment', {
						x: x,
						y: y,
					}).done(function(data){
						location.reload()
					})
				})
			})
		script.
			function trigs(ticketNumber){
				$(document).ready(function(){
					$("#generate").click(function(){
						window.open(`/index/receipt/` + $("#intTicketID").val())
					})




					$('#triggerButton').trigger('click');
					$.post('/index/ticket', {intUserViolationTicketID: ticketNumber})
					.done(function(data){
						if(data[0].isPaid == 0){
							$("#smaller").text("Status: Unpaid")
							$("#smaller").css("color", "red")
							$('#generate').hide()
							$('#paymentButton').show()
						}
						else if(data[0].isPaid == 3){
							$("#smaller").css("color", "yellow")
							$("#smaller").text("Status: Pending")
							$('#intReceiptNumber').val(data[0].intReceiptNumber)
							$('#intReceiptNumber').attr("disabled");
							$('#generate').hide()
							$('#paymentButton').hide()
						}
						else{
							
							$("#smaller").css("color", "green")
							$("#smaller").text("Status: Paid")
							$('#intReceiptNumber').val(data[0].intReceiptNumber)
							$('#intReceiptNumber').attr("disabled");
							$('#paymentButton').hide()
							$('#generate').show()
						}
						$('#intTicketID').val(data[0].intTicketID)
						$('#strLicenseNumber').val(data[0].strTicketLicenseNo)
						$('#strLicenseName').val(data[0].strLicenseFirstName+' '+data[0].strLicenseLastName)
						$('#strPlateNumber').val(data[0].strTicketPlateNumber)
						$('#strEnforcerName').val(data[0].strAuthorityFirstName+' '+data[0].strAuthorityLastName)
						$('#datDate').val(data[0].strTicketDate)
						$('#address').val(data[0].strTicketAddress)
						var violength = data.length;
						var sum = 0;
						$('#tbody').empty()
						for(var i = 0; i<violength; i++){
							sum = sum + data[i].intCharge;
							$('#tbody').append(`<tr><td class="title-h bg-primary">`+data[i].strSection+`</td><td>`+data[i].strViolation+`</td><td>`+data[i].intCharge+`</td></tr>`)
						}
						$('#tbody').append(`<tr><td class="title-h bg-primary">Total</td><td></td><td>`+sum+`</td></tr>`)
						initMap();

					})
				});
			}
		
