doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='')
//if IE 8
	html.no-js.lt-ie9(lang='')
// [if gt IE 8] <!
html.no-js(lang='en')
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Profile | #{user.strLicenseFirstName} #{user.strLicenseLastName} 
		meta(name='description', content='Create your website using Engage multipurposes html template: corporate, ecommerce, blog, creative and much more. Only $17 for unlimited possibilities.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='../assets/img/various/apple-touch-icon.png')
		link(rel='shortcut icon', href='../assets/img/favicon.ico', type='image/x-icon')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400,700,800', rel='stylesheet')
		link(rel='stylesheet', href='../assetssample/font-awesome-4.7.0/css/font-awesome.css')
		link(rel='stylesheet', href='../assets/js/libs/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='../assets/css/icons/nucleo.css')
		link(rel='stylesheet', href='../assets/js/libs/animate.css/animate.min.css')
		// BEGIN PAGE STYLE
		link(rel='stylesheet', href='../assets/css/pages.css')
		link(rel='stylesheet', href='../assets/css/form.css')
		// END PAGE STYLE
		link(rel='stylesheet', href='../assets/css/buttons.css')
		link(rel='stylesheet', href='../assets/css/builder.css')
		link(rel='stylesheet', href='../assets/css/colors.css')
		link(rel='stylesheet', href='../assets/css/footers.css')
		link(rel='stylesheet', href='../assets/css/main.css')
		link(rel='stylesheet', href='../assets/css/nav.css')
		link(rel='stylesheet', href='../assets/css/preloader.css')
		link(rel='stylesheet', href='../assets/css/themes.css')
		link(rel='stylesheet', href='../assets/css/ui.css')
		link(rel='stylesheet', href='../assets/css/widgets.css')
		script(src='../assets/js/modernizr-2.8.3-respond-1.4.2.min.js')
		style.
			#profileIcon{
				min-width: 124px;
				border-radius: 100%;
				border: 7px solid #577;
				width: 15%;
				transition: all 0.5s ease;
			}
			#profileIcon:hover{
				border: 10px solid skyblue;
				transition: all 0.5s ease;
				filter: brightness(50%);
			}
			#smallIcon{
				width: 49px;
				border-radius: 100%;
				border: 1px solid #577;
			}
			#map {
				height: 100%;
			}
	body.header-light.creative-design.footer-reveal(data-page-type='ecommerce')
		//if lt IE 8
			p.browserupgrade
				| You are using an 
				strong outdated
				|  browser. Please 
				a(href='http://browsehappy.com/') upgrade your browser
				|  to improve your experience.
		// BEGIN PRELOADER
		.loader-wrapper
			.loader-circle
		// END PRELOADER
		#wrapper
			// BEGIN LATERAL NAVIGATION
			aside#aside-nav
				#main-aside-navigation
					.main-nav-wrapper
						.close-aside-nav
							i.nc-icon-outline.ui-1_simple-remove
						#aside-logo
							a(href='#', data-logo-light='../assets/img/logo/logo-short-light.png', data-logo-dark='../assets/img/logo/logo-aside-dark.png')
								img(width='170', height='166', src='../assets/img/logo/logo-short-dark.png', alt='logo')
						nav#main-aside-menu
							ul
								li.submenu
									a(href='#') Dashboard
									ul
										li
											a.menu-title(href='#') Traffic Offenses
										li
											a.menu-title(href='#') Payments
								li.submenu
									a(href='#') #{user.strLicenseFirstName} #{user.strLicenseLastName}
									ul
										li
											a(href='fullscreen-image') My Account
										li
											a(href='fullscreen-image-parallax') Settings
										li
											a(href='/logout') Log out
						footer
							a.tools-btn(href='#', data-toggle-search='fullscreen')
								span.tools-btn-icon
									i.nc-icon-outline.ui-1_zoom
							a.tools-btn(href='shop-wishlist')
								span.tools-btn-icon
									i.nc-icon-outline.ui-2_favourite-28
								span.wishlist_items_number 0
							a.tools-btn(href='shopping-cart')
								span.tools-btn-icon
									i.nc-icon-glyph.shopping_bag-16
								span.cart_items_number 0
			// END LATERAL NAVIGATION
			// BEGIN MAIN NAVIGATION
			header#header
				#main-navigation.submenu-dark
					.main-nav-wrapper
						.container-fluid
							.nav-left
								#logo
									a(href='overview', data-logo-light='../assets/img/logo/logo-short-light.png', data-logo-dark='../assets/img/logo/logo-short-dark.png')
										img(width='145', height='36', src='../assets/img/logo/logo-light.png', alt='logo')
							.nav-right
								nav#main-menu
									ul
										li
											a(href='#') Dashboard
											ul
												li
													a.menu-title(href='#') Traffic Offenses
												li
													a.menu-title(href='#') Payments
										li
											a(href='#') 
												img#smallIcon(src=`../uploads/${user.strImage}`)
												|   #{user.strLicenseFirstName} #{user.strLicenseLastName}
											ul
												li
													a(href='fullscreen-image') My Account
												li
													a(href='fullscreen-image-parallax') Settings
												li
													a(href='/logout') Log out
								ul.nav-tools
									li.mobile-menu-btn
										button.toggle-menu(data-toggle='mobile-menu', data-effect='hover')
											span.menu-label.label-left Menu
											i.nc-icon-outline.ui-2_menu-35
			// END MAIN NAVIGATION
			// BEGIN MAIN CONTENT
			#main-content.account
				// BEGIN HEADER
				header.section-header.header-sm.t-dark(id="page-title" class="page-title-lg page-title-dark skrollable skrollable-between" data-bg-img="../../../assets/img/creative/square-9.jpg" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;" style="height: 466px !important; background-image: url('assets/img/creative/square-9.jpg'); background-position: 0px 0px;")
					.container.skrollable.skrollable-between(data-0="transform:translateY(-0px);opacity:1;" data-300="transform:translateY(80px);opacity:0;" style="transform: translateY(0px); opacity: 1;")
						.container.top-element
							.row.top-text
								img#profileIcon(src=`../uploads/${user.strImage}`)
								//- i.nc-icon-outline.users_single-01.header-icon
								h2.header-title.t-important.m-b-0(style='-webkit-text-stroke: 1px white;') #{user.strLicenseFirstName} #{user.strLicenseLastName}
								h4.header-title.t-important.m-b-0(style='-webkit-text-stroke: 0.2px white;') My Account
				// END HEADER
				section.section
					.container
						.row
							.col-lg-3.col-md-4
								.account-menu.m-b-30
									ul
										li
											a(href='/index')
												i.nc-icon-glyph.ui-1_home-51
												|  My Information
										li
											a(href='/index/license')
												i.nc-icon-glyph.shopping_cash-register
												|  License Tracking
							.col-lg-8.col-md-7.offset-lg-1.offset-md-1
								.account-section
									h3 License Tracking
									.row
										.col-lg-12
											.form-group.form-grouped
												label License Number 
												-if(new Date(user.datLicenseExpirationDate) >= new Date())
													small(style='color: green') • Activated
												-else if(new Date(user.datLicenseExpirationDate) < new Date())
													small(style='color: red') • Expired
												input.form-control(disabled style='font-size: 25px;cursor: pointer;' type='text' value=user.strLicenseNo)
										
									.row
										.col-lg-12
											.form-group.form-grouped
												label Status
												-if(user.booStatus == '1')
													input#status.form-control(disabled style='cursor: pointer;' type='text' value='No Violation/s')
												-else if(user.booStatus == '2')
													small(style="color: red") 
														a(style="text-decoration: underline; cursor: pointer") See Offense Here
													input#status.form-control(disabled style='cursor: pointer;' type='text' value='Caught')
												-else if(user.booStatus =='3')
													input#status.form-control(disabled style='cursor: pointer;' type='text' value='On Release')

									-if(user.strLocation == 'Owner')
										.row
											.col-lg-12
												.form-group.form-grouped
													label Location
													input#address.form-control(disabled style='cursor: pointer;' type='text' value=user.strLicenseAddress)
												#map-dark.map(data-map-width='100%', data-map-height='100%', data-markers='none', data-map-style='black-white', data-plugin-options='{"zoom":3,"panControl":false,"mapTypeControl":false,"zoomControl":false}')
									-else
										.row
											.col-lg-12
												.form-group.form-grouped
													label Location
													input#address.form-control(disabled style='cursor: pointer;' type='text' value=user.strLocation)
												#map-dark.map(data-map-width='100%', data-map-height='100%', data-markers='none', data-map-style='black-white', data-plugin-options='{"zoom":3,"panControl":false,"mapTypeControl":false,"zoomControl":false}')
			// END MAIN CONTENT
			// BEGIN FOOTER
			footer#footer
				#footer-main.container-large
					.row
						.col-lg-12.col-md-12
							.widget.widget-text
								h3.widget-title Who are we?
								img.footer-logo(width='200', height='50', src='../assets/img/logo/logo-aside-light.png', alt='logo')
								p Isabel, a web and mobile application that simplifies traffic violation process.
								p
									i.nc-icon-outline.ui-1_home-minimal
									|  Polytechnic University of the Philippines
								p
									i.nc-icon-outline.ui-1_email-85
									a(href='mailto:contact@isabel.com') contact@isabel.com
								p
									i.nc-icon-outline.tech_mobile
									a(href='tel:+1-888-541-7871', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Call us Now')  87000

				#footer-bottom
					.container-large
						.row
							.col-sm-12.t-center
								p.copyright © Isabel 2017. All Rights Reserved.
			// END FOOTER
		// BEGIN BUILDER
		#builder.builder.hidden-sm-down
			a.builder-toggle
				i.nc-icon-outline.ui-1_settings-gear-65
			.inner
				.builder-container
					.builder-section.builder-buy
						a.btn.btn-primary.btn-block.t-important(href='#') Buy Engage
						a#reset-style(href='#') reset style
					.builder-section.builder-layout
						h4 Layout
						.btn.btn-dark.btn-bordered.t-important(data-layout='boxed') BOXED
						.btn.btn-dark.t-important(data-layout='wide') WIDE
						.builder-boxed-bg
							h4 Boxed Background
							.row
								.col-xs-12.custom-bg-background
									.boxed-bg(data-bg-img='bg/pattern/3.png')
									.boxed-bg(data-bg-img='bg/pattern/2.png')
									.boxed-bg(data-bg-img='creative/full-18.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='creative/full-4.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='nature/full-20.jpg', data-pattern='false')
									.boxed-bg(data-bg-img='nature/full-42.jpg', data-pattern='false')
					.builder-section.builder-menu-layout
						h4 Menu Style
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='lateral') Lateral
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='overlay') Overlay
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='offcanvas') Offcanvas
							a.btn.btn-dark.t-important(href='#', data-menu='right-align') Right align
						div
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='left-align') Left align
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu='logo-center') Logo center
					.builder-section.builder-menu-style
						h4 Menu Color
						div
							a.btn.btn-dark.t-important(href='#', data-menu-style='transparent') Transparent
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='image') Image
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='dark') Dark
							a.btn.btn-dark.btn-bordered.t-important(href='#', data-menu-style='light') Light
					.builder-section.builder-footer
						h4 Footer
						.btn.btn-dark.t-important(data-footer='normal') Normal
						.btn.btn-dark.btn-bordered.t-important(data-footer='reveal') Reveal
					.builder-section.builder-themes
						h4 Theme Colors
						.row
							.col-xs-12
								.theme-color.blue.lighten-2(data-theme='blue')
								.theme-color.indigo.lighten-2(data-theme='indigo')
								.theme-color.deep-purple.lighten-2(data-theme='purple')
								.theme-color.teal.lighten-2(data-theme='teal')
								.theme-color.amber(data-theme='amber')
								.theme-color.deep-orange.lighten-1.active(data-theme='default')
								.theme-color.red.lighten-1(data-theme='red')
								.theme-color.grey.darken-4(data-theme='dark')
					.builder-section.builder-dark-theme
						.btn.btn-dark.btn-block.t-important(data-skin='dark') Dark Theme
		// END BUILDER
		a.scrollup(href='#')
			i.nc-icon-outline.arrows-1_minimal-up
		script(src='../assets/js/libs/jquery/dist/jquery.min.js')
		script(src='../assets/js/libs/jquery-ui/jquery-ui.min.js')
		script(src='../assets/js/libs/gsap/src/minified/TweenMax.min.js')
		script(src='../assets/js/libs/gsap/src/minified/plugins/ScrollToPlugin.min.js')
		script(src='../assets/js/libs/tether/dist/js/tether.min.js')
		script(src='../assets/js/libs/bootstrap/dist/js/bootstrap.min.js')
		script(src='../assets/js/libs/superfish/dist/js/superfish.min.js')
		script(src='../assets/js/libs/appear/jquery.appear.js')
		script(src='../assets/js/libs/skrollr/dist/skrollr.min.js')
		script(src='../assets/js/libs/easyticker-jquery/jquery.easy-ticker.min.js')
		script(src='../assets/js/navigation.js')
		script(src='../assets/js/search.js')
		script(src='../assets/js/builder.js')
		script(src='../assets/js/widgets.js')
		script(src='../assets/js/main.js')
		script.
			function initMap() {
				var map = new google.maps.Map(document.getElementById('map-dark'), {
				zoom: 15,
				center: {lat: -34.397, lng: 150.644}
				});
				var geocoder = new google.maps.Geocoder();
				geocodeAddress(geocoder, map);
				
			}
			function geocodeAddress(geocoder, resultsMap) {
				var address = document.getElementById('address').value;
				geocoder.geocode({'address': address}, function(results, status) {
				if (status === 'OK') {
				resultsMap.setCenter(results[0].geometry.location);
				var marker = new google.maps.Marker({
				map: resultsMap,
				position: results[0].geometry.location
				});
				} else {
				alert('Geocode was not successful for the following reason: ' + status);
				}
				});
			}
		script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBnLyu9KRX0dTheISKLkC2IUUBKeWD7TdU&callback=initMap')
		
